flask
flask-cors
flask-socketio
eventlet
psutil
pillow
pyautogui
pycaw
comtypes
pyperclip
plyer
requests
qrcode
pystray
pygetwindow
mss
opencv-python
numpy
pyaudiowpatch
imageio-ffmpeg
screeninfo
pywin32
python-dotenv
customtkinter
zeroconf
